body{
    height: 100vh;
    overflow: hidden;   
}

main{
    top: 0;
    left: 0;
    width: 100vw;    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.eyeshp{
    display: flex;
}


.rimage {
    width: 100%;
} 
